@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
#article {
  width: 100%;
  background-color: #f3f3f3;
}
#article .article-row {
  width: 1358px;
  height: 578px;
  margin: 0 auto;
  text-align: center;
}
#article .artivle-row:nth-child(1) {
  background-color: white;
}
